
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%16thread] %-5level %30logger{30} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.apache.mina" level="WARN"/>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
